// Nova Tool CSS
.nalingia-secret-field {
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  &__action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}